:root {
    --primary-text-color: #212121;
    --secondary-text-color:#757575;
    --accent-color: #2196F3;
    --bcg-color: #2F303A;
    --primary-letter-spacing: 0.03em; 
    --secondary-letter-spacing: 0.02em;
    --hero-letter-spacing: 0.06em;
}

body {
    color: var(--primary-text-color);
    background-color: #fff;

    font-size: 14px;
    font-family: Roboto, sans-serif;
    letter-spacing: var(--primary-letter-spacing);
}

/* Почему мы не поставили вверхний маржин для hero-tittle? */

.hero-tittle {
    margin-top: 0;
    margin-bottom: 30px;

    letter-spacing: var(--hero-letter-spacing);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}

/* Почему для hero не ставили mb? */

.hero {
    /* margin-bottom: 94px; */
    padding: 200px 452px;
    text-align: center;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.feature-list,
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.project-tittle {
    font-size: 18px;
    line-height: 2;
    letter-spacing: var(--hero-letter-spacing);
}

.project-text {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
}

/* Почему мы убираем маржины feature-tittle? Потому что сверху бекграунд? */

.feature-tittle {
    margin-top: 0px;
    margin-bottom: 10px;

    font-size: 14px;              
    line-height: 1.14;
    text-transform: uppercase;
}

.logo {
    color: var(--accent-color);
    
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

/* .container > .logo {
    display: inline-block;
    padding-top: 60px;
    padding-right: 1240px;
    padding-left: 215px;
    margin-bottom: 20px;
} */

.accent {
    color: #000000;
}

.footer .logo .accent {
    color: #FFFFFF;
}

.site-nav .nav-link {
    color: var(--primary-text-color);
}

.contact-nav .contact-link,
.feature-text,
.employee-text {
    color: var(--secondary-text-color);
}

.site-nav .nav-link, 
.contact-nav .contact-link,
.footer-nav-address, 
.footer-contact .contact-link {
    text-decoration: none;
}

/* .footer-contact .footer-nav-address {
    display: inline-block;
    padding-left: 215px;
    margin-bottom: 9px;
}

.footer-contact */

.feature-text,
.footer-contact.list {
    line-height: 1.71;
}

.feature-text {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-contact.list {
    font-weight: 400;
}

address {
    font-style: normal;
}

.section-tittle {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.employee-img {
    margin-bottom: 30px;
}

.employee-name {
    margin-top: 0;
    margin-bottom: 10px;
}

/* Какая разница в моем случае кому давать mb: section-first или feature-list */

.section-first {
    margin-bottom: 94px;
}

/* Убрал нижний падинг хотя сначала его ставил;
Также убрал верхний падинг */

.both-of-sections {
    padding-top: 94px;
    padding-bottom: 94px;
    padding-right: 215px;
    padding-left: 215px;
}


.employee-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.employee-text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.site-nav .nav-link:hover, 
.contact-nav .contact-link:hover,
.footer-contact .contact-link:hover,
.site-nav .nav-link:focus,
.contact-nav .contact-link:focus,
.footer-contact .contact-link:focus {
    color: var(--accent-color);
}

.site-nav,
.contact-nav {
    display: flex;
    letter-spacing: var(--secondary-letter-spacing);
    font-weight: 500;
    line-height: 1.14;
}

.site-nav .nav-link,
.contact-nav .contact-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    outline: 1px solid red;
}

.site-nav .item + .item,
.contact-nav .item + .item,
.nav-link.current {
    margin-left: 40px;
}

.header,
.nav-header {
    display: flex;
}

.logo,
.accent {
    display: flex;
    outline: 1px solid red;
}

/* Ниже такие же варианты верхнего селектора */

/* .site-nav .item:last-child {
    margin-right: 0;
} */

/* .site-nav .item:not(:last-child) {
    margin-right: 50px;
} */

.site-nav .nav-link.current {
    color: var(--accent-color);
} 

/* Почему кнопка не становится по центру?
Почему кнопке не ставим mb? */

.button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;

    color: #FFFFFF;
    background-color: var(--accent-color);

    letter-spacing: var(--hero-letter-spacing);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;

    cursor: pointer;

}

.secondary-button {
    color: var(--primary-text-color);
    background-color: #F5F4FA;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: var(--primary-letter-spacing);
}

.currently-active {
    color: #FFFFFF;
    background-color: #2196F3;
}

.secondary-button:hover {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.secondary-button:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.footer, .hero {
    background-color: var(--bcg-color);
}

.footer-contact .contact-link {
    color: #FFFFFF99;
}

.footer-nav-address,
.hero-tittle {
    color: #FFFFFF;
}

/* Ниже убрал маржин ботом, хотя сначала его ставил */

.section-third {
    background-color: #F5F4FA;
}

/* 
мелкий текст #757575 
жирный текст #212121
цвет лого черный #000000
цвет лого синий #2196F3
цвет кнопки (accent) #2196F3;
цвет h1 #FFFFFF
цвет фона h1 и футера #2F303A
цвет фона сотрудников #F5F4FA
#FFFFFF99 60% для почты и телефона в футере
*/

